@tailwind base;
@tailwind components;

body {
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}

/* Hero section */
.custom-hover a {
  font-size: 1rem;
  text-decoration: none; /* Remove default underline */
  position: relative; /* Create a positioning context */
  padding-bottom: 16px;
  font-weight: 500;
}
.custom-hover a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.4s ease;
}
.custom-hover a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.uniform-gradient-background {
  position: relative;
  height: 92vh;
  background: url("/images/burgess-milner-OYYE4g-I5ZQ-unsplash.jpg")
    center/cover no-repeat;
}

.uniform-gradient-background::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.general-spacing {
  padding: 1rem 2rem;
  color: white;
}
h1.custom-design {
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
h3.custom-design {
  font-size: 0.875rem;
  font-weight: 700;
}
.link-design {
  padding: 5px 30px;
  color: #212121;
  font-size: 0.875rem;
  background-color: white;
  display: inline-block;
  border-radius: 0.125rem;
  font-weight: 500;
}
.link-design:hover {
  color: white;
  background-color: #212121;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.custom-font-a {
  font-size: 0.875rem;
  font-weight: 500;
}

@tailwind utilities;

.img-design {
  @apply flex flex-col items-center justify-center overflow-hidden;
}
